:root {
    --primary-color: #8A1C0E; /*Deep Red*/
    --secondary-color: #B54430; /*Warm Brown*/
    --accent1-color: #bb8c0c; /*Golden Yellow*/
    --accent2-color: #F5E7C6; /*Soft Beige*/
    --text-color: #7a5709;
    --heading-font: "Segoe UI", Tahoma, Verdana, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--heading-font);
    color: var(--text-color);
    text-align: center;
}

header, main {
    width: 60%;
    margin: 50px auto;
}

header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xx-large;
}

nav, p, section, article {
    margin: 30px;
    padding: 8px;
    font-size: 20px;
}

nav {
    display: flex;
    text-align: left;
    margin: 15px auto;
}

a {
    margin: 8px;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: bold;
    font-size:  x-large;
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    box-shadow: 0 0 15px rgb(65, 65, 65);
}

article {
    text-align: left;
    width: 55%;
    float: none;
    background-color: var(--accent2-color);
    margin: 50px auto 100px;
}

.hero article img {
    float: right;
    width: 175px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 15px;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.history p {
  flex: 1;
  color: var(--text-font);
}

.history img {
  max-width: 300px;
  width: 100%; 
  height: auto;
}

section img {
    width: 200px;
    height: auto;
}

.figure-list {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--text-font);
}

figcaption {
    max-width: 10rem;
    font-weight: bold;
    margin: 10px;
}

footer {
    text-align: center;
    color: var(--text-font);
}

footer p{
    border-top: 1px solid var(--text-font);
    margin-top: 100px;
    font-size: medium;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-right: 100px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
}